.block {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  position: absolute;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .block.width-small {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .block.width-small {
    width: 25%;
  }
}
.block.width-medium {
  width: 100%;
}
@media (min-width: 768px) {
  .block.width-medium {
    width: 50%;
  }
}
.block.width-large {
  width: 100%;
}
@media (min-width: 1200px) {
  .block.width-large {
    width: 75%;
  }
}
.block.width-full {
  width: 100%;
}
.block .block-settings {
  position: absolute;
  top: 13px;
  right: 25px;
}
.block .block-settings.open .toggle-settings {
  color: #35A48C;
}
.block .block-settings .toggle-settings {
  background: none;
  border: none;
  padding: 3px 7px;
  color: #777777;
}
.block .block-settings .toggle-settings:hover {
  color: #35A48C;
}
.block .block-settings .toggle-settings i {
  vertical-align: middle;
  text-align: center;
}
.block .block-settings .dropdown-menu {
  left: auto;
  right: 0;
  border-radius: 0;
  border: 0;
  background: #35A48C;
  font-size: 0.85em;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.block .block-settings .dropdown-menu:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #35A48C;
  position: absolute;
  top: -6px;
  right: 7px;
}
.block .block-settings .dropdown-menu li {
  padding: 0px 10px;
}
.block .block-settings .dropdown-menu li i {
  width: 20px;
  text-align: left;
}
.block .block-settings .dropdown-menu li a {
  color: #fff;
  padding: 3px 0px;
}
.block .block-settings .dropdown-menu li a:hover,
.block .block-settings .dropdown-menu li a:focus,
.block .block-settings .dropdown-menu li a:active {
  background: none;
  text-decoration: underline;
}
.block .block-inner {
  padding: 5px;
  background-color: #e4e4e4;
}
.block .block-inner .block-title {
  border-bottom: 2px solid #35A48C;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  padding-top: 0;
  font-size: 1.6rem;
}
.block .block-inner .block-title i {
  margin-right: 10px;
  color: #35A48C;
}
.block .block-inner .block-header {
  display: table;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.block .block-inner .block-header .text-wrap {
  background-color: #fff;
  margin: 0;
  color: #555;
  vertical-align: middle;
  display: table-cell;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.block .block-inner .block-header .icon-wrap {
  display: none;
  background: #2b8572;
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  text-align: center;
}
.block .block-inner .block-header .icon-wrap i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.85);
}
.block .block-inner .block-content {
  padding: 1rem;
  background-color: #fff;
}
.block .block-inner .block-content h2 {
  margin: 0;
  font-weight: 400;
}
.block .block-inner .block-content .subtitle {
  color: #999;
  padding-top: 1rem;
  border-top: 1px solid #DDD;
  display: block;
  margin-top: 10px;
  font-size: 1.3rem;
}
.block .block-inner .activity-list .timestamp,
.block .block-inner .notifications .timestamp {
  padding-left: 10px;
  font-size: 0.9em;
  color: #777777;
  text-align: right;
}
.block .block-inner .activity-list table,
.block .block-inner .notifications table {
  width: 100%;
  padding-bottom: 10px;
}
.block .block-inner .activity-list table td,
.block .block-inner .notifications table td {
  padding-bottom: 2px;
}
.block .block-inner .activity-list table td.dismiss-td,
.block .block-inner .notifications table td.dismiss-td {
  width: 1px;
  padding-right: 1em;
}
.block .block-inner .activity-list ul,
.block .block-inner .notifications ul {
  list-style: none;
  padding: 0;
}
.block .block-inner .activity-list ul li,
.block .block-inner .notifications ul li {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
}
.block .block-inner .activity-list ul li:last-child,
.block .block-inner .notifications ul li:last-child {
  border: 0;
}
.block .block-inner .activity-list ul .timestamp,
.block .block-inner .notifications ul .timestamp {
  display: table-cell;
}
.block .block-inner .activity-list ul .activity-name,
.block .block-inner .notifications ul .activity-name {
  padding-right: 10px;
  text-align: left;
  display: table-cell;
}
.block .block-inner .activity-list .dismiss-button,
.block .block-inner .notifications .dismiss-button {
  background: #27ae60;
  color: #fff;
  padding: 1px 3px;
}
.block .block-blue .block-header .text-wrap > span {
  border-bottom: 4px solid #429AAF;
  padding-bottom: 2px;
}
.block .block-orange .block-header .text-wrap > span {
  border-bottom: 4px solid #D16B2C;
  padding-bottom: 2px;
}
.block .block-gray .block-header .text-wrap > span {
  border-bottom: 4px solid #555555;
  padding-bottom: 2px;
}
.block .block-red .block-header .text-wrap > span {
  border-bottom: 4px solid #C54141;
  padding-bottom: 2px;
}
.block .block-purple .block-header .text-wrap > span {
  border-bottom: 4px solid #7F5C99;
  padding-bottom: 2px;
}
.block .block-green .block-header .text-wrap > span {
  border-bottom: 4px solid #94B933;
  padding-bottom: 2px;
}
.block .block-yellow .block-header .text-wrap > span {
  border-bottom: 4px solid #CFBE00;
  padding-bottom: 2px;
}
.block .block-navy .block-header .text-wrap > span {
  border-bottom: 4px solid #41589B;
  padding-bottom: 2px;
}

/*# sourceMappingURL=dashboard.css.map */
