.folder-icon {
  color: #E1AE46;
}
@media (max-width: 991px) {
  .folder-tree {
    display: none;
  }
}
.folder-tree ul,
.folder-tree li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.folder-tree ul ul {
  padding-left: 2.5rem;
}
.folder-tree li a {
  font-size: 1.6rem;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  .folder-tree li a {
    font-size: 1.8rem;
  }
}
.folder-tree li a:hover {
  text-decoration: underline;
}
.folder-tree li.in-path > a .name {
  color: #555;
}
.folder-tree li.current > a .name {
  color: #35A48C;
  font-weight: 500;
}
.folder-tree ul li.new-folder-item a {
  font-size: 1.4rem;
  color: #777777;
}
.folder-tree i {
  margin-right: 6px;
}
.title {
  border-bottom: 3px solid #35A48C;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.title i,
.title a {
  margin-right: 7px;
  font-size: 1.8rem;
}
.title a.current {
  font-size: 3rem;
  color: #555;
}
.folder-view .btn-toolbar {
  margin: 0;
  margin-bottom: 50px;
}
.folder-view .btn-toolbar .btn-group {
  margin-left: 0;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .folder-view .btn-toolbar .btn-group {
    margin-bottom: 10px;
  }
}
.folder-view .btn-toolbar .btn-group.icons button {
  padding: 6px 10px 4px 10px;
}
.folder-view .btn-toolbar .btn-group.icons i {
  font-size: 1.4rem;
}
.folder-view .folder-contents {
  min-height: 350px;
}
.folder-view .folder-contents .grid-folder,
.folder-view .folder-contents .grid-file {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .folder-view .folder-contents .grid-folder:nth-child(2n+1),
  .folder-view .folder-contents .grid-file:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .folder-view .folder-contents .grid-folder:nth-child(3n+1),
  .folder-view .folder-contents .grid-file:nth-child(3n+1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .folder-view .folder-contents .grid-folder:nth-child(4n+1),
  .folder-view .folder-contents .grid-file:nth-child(4n+1) {
    clear: both;
  }
}
.folder-view .folder-contents .grid-folder a.file-preview,
.folder-view .folder-contents .grid-file a.file-preview {
  display: block;
  background: #fff;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  transition: border-color 0.1s;
}
.folder-view .folder-contents .grid-folder a.file-preview:hover,
.folder-view .folder-contents .grid-file a.file-preview:hover,
.folder-view .folder-contents .grid-folder a.file-preview:focus,
.folder-view .folder-contents .grid-file a.file-preview:focus {
  border-color: #35A48C;
}
.folder-view .folder-contents .grid-folder a.file-preview img,
.folder-view .folder-contents .grid-file a.file-preview img {
  margin: auto;
}
.folder-view .folder-contents .grid-folder .file-name,
.folder-view .folder-contents .grid-file .file-name {
  text-align: center;
}
.folder-view .folder-contents .grid-folder .file-preview {
  padding: 30px 15px;
}
.folder-view .folder-contents .grid-folder i {
  font-size: 60px;
}
.folder-view .folder-contents .upload-hint {
  padding-top: 60px;
  color: #777777;
  text-align: center;
  transition: opacity 0.2s;
}
.folder-view .folder-contents .empty-folder {
  text-align: center;
  padding: 50px 0px;
  border: 3px dashed #eee;
  color: #999;
  transition: all 0.2s;
}
.folder-view .folder-contents .empty-folder .empty-image {
  margin-bottom: 25px;
}
.folder-view .folder-contents .empty-folder .empty-image img {
  max-width: 300px;
}
.folder-view .folder-contents .empty-folder .empty-text {
  font-size: 18px;
}
.folder-view .folder-contents .empty-folder .empty-text span {
  font-size: 26px;
  font-weight: 500;
}
.folder-view .folder-contents .upload-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  background: rgba(34, 143, 183, 0.85);
  color: #fff;
  text-align: center;
  padding: 53px 0px;
}
.folder-view .folder-contents .upload-indicator .image {
  margin-bottom: 50px;
  max-width: 300px;
  margin: 0 auto;
}
.folder-view .folder-contents .upload-indicator .text {
  font-size: 2.5rem;
  font-weight: 500;
}
.fd-zone {
  position: relative;
  transition: background 0.5s;
}
.fd-zone .empty-folder,
.fd-zone .upload-hint {
  transition: border-color, color 0.5s;
}
.fd-zone.over.grid-folder {
  background: rgba(34, 143, 183, 0.85);
}
.fd-zone.over .empty-folder {
  visibility: hidden;
  color: #fff;
}
.fd-zone.over .upload-hint {
  opacity: 0;
}
.fd-zone.over .upload-indicator {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
@keyframes uploadIndicator {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uploadIndicator {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fd-zone.over .upload-indicator .image {
  -webkit-animation: uploadIndicator 1.5s infinite;
  animation: uploadIndicator 1.5s infinite;
}
.queue-view {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background: #eee;
  padding: 5px;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.queue-view.done {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.queue-view .queue-file {
  border: 2px solid #aaa;
  background: #fff;
  transition: background 0.5s;
  border-radius: 4px;
  float: left;
  margin-right: 4px;
}
.queue-view .queue-file.uploading {
  background: rgba(53, 164, 140, 0.2);
}
.queue-view .queue-file.error {
  background: rgba(231, 76, 60, 0.2);
}
.queue-view .queue-file.done {
  background: rgba(39, 174, 96, 0.2);
}
.queue-view .queue-file.done .qf-progress {
  opacity: 0;
}
.queue-view .queue-file .qf-name {
  padding: 3px;
}
.queue-view .queue-file .qf-progress {
  height: 5px;
  background: #35A48C;
  border-radius: 2px;
  transition: width 0.1s, opacity 1s;
}
.file-cog-btn {
  padding: 0;
  position: absolute;
  right: 25px;
  top: 10px;
  width: 20px;
}

/*# sourceMappingURL=media-browser.css.map */
