.wizard-header {
  text-align: center;
  margin-bottom: 30px;
}
.wizard-header .logo {
  width: 100px;
  height: 100px;
}
.wizard-header h1:after {
  content: "";
  background: #35A48C;
  width: 75px;
  height: 3px;
  display: block;
  margin: 20px auto 0;
}
.wizard-block {
  padding: 20px;
  margin-bottom: 30px;
}
.wizard .wizard-nav-container {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin: -30px -30px 30px -30px;
  background: #f4f4f4;
}
.wizard .wizard-nav-container ul.wizard-nav {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.wizard .wizard-nav-container ul.wizard-nav li {
  background: #f4f4f4;
  color: #555;
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  font-size: 1.6rem;
  height: 46px;
  line-height: 46px;
  position: relative;
}
.wizard .wizard-nav-container ul.wizard-nav li.active {
  font-weight: normal;
  background: #fff;
  color: #35A48C;
}
.wizard .wizard-nav-container ul.wizard-nav li.active .chevron:before {
  border-left: 14px solid #fff;
}
.wizard .wizard-nav-container ul.wizard-nav li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #ddd;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}
.wizard .wizard-nav-container ul.wizard-nav li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #f4f4f4;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}
@media (max-width: 1199px) {
  .wizard .wizard-nav-container ul.wizard-nav li {
    font-size: 1.4rem;
    padding: 0 5px 0 20px;
  }
}
@media (max-width: 991px) {
  .wizard .wizard-nav-container ul.wizard-nav li {
    display: none;
  }
  .wizard .wizard-nav-container ul.wizard-nav li.active {
    display: list-item;
  }
}
.wizard .wizard-nav-container .btn {
  margin-top: 4px;
  margin-right: 20px;
}
@media (max-width: 1199px) {
  .wizard .wizard-nav-container li {
    font-size: 1.2rem;
    padding: 0 5px 0 20px;
  }
}
@media (max-width: 991px) {
  .wizard .wizard-nav-container li {
    display: none;
  }
  .wizard .wizard-nav-container li.active {
    display: list-item;
  }
}
.wizard .wizard-pane-container .wizard-pane {
  display: none;
}
.wizard .wizard-pane-container .wizard-pane.active {
  display: block;
}
.wizard .wizard-pane-container .wizard-pane .pane-header img {
  height: 125px;
}
.wizard .wizard-pane-container .wizard-pane .pane-header p {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 50px;
}
.wizard .wizard-pane-container .wizard-pane .pane-header p small {
  font-size: 60%;
}
.wizard .wizard-pane-container .wizard-pane .service-provider-form {
  border: 2px solid #ededed;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}
.wizard .wizard-pane-container .wizard-pane .service-provider-form .service-detail-form {
  margin-top: 20px;
}
div.action-bar i {
  margin-right: 8px;
}
div.action-bar .clearfix {
  margin-bottom: 10px;
}
div.wizard-pane.general div.action-bar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: none !important;
}
@media (min-width: 768px) {
  div.wizard-pane.general div.action-bar {
    left: 33.33333333%;
  }
}
@media (min-width: 768px) {
  div.wizard-pane.general div.action-bar {
    float: left;
    width: 58.33333333%;
  }
}
@media (min-width: 992px) {
  div.wizard-pane.general div.action-bar {
    left: 33.33333333%;
  }
}
@media (min-width: 992px) {
  div.wizard-pane.general div.action-bar {
    float: left;
    width: 58.33333333%;
  }
}
@media (min-width: 1200px) {
  div.wizard-pane.general div.action-bar {
    left: 25%;
  }
}
@media (min-width: 1200px) {
  div.wizard-pane.general div.action-bar {
    float: left;
    width: 41.66666667%;
  }
}
@media (min-width: 768px) {
  div.wizard-pane.general div.action-bar {
    padding-left: 5px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  div.wizard-pane.general div.action-bar {
    padding-left: 5px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  div.wizard-pane.general div.action-bar {
    padding-left: 10px;
    padding-right: 5px;
  }
}
div.wizard-pane.carrier div.action-bar,
div.wizard-pane.payment div.action-bar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: none !important;
}
@media (min-width: 768px) {
  div.wizard-pane.carrier div.action-bar,
  div.wizard-pane.payment div.action-bar {
    left: 25%;
  }
}
@media (min-width: 768px) {
  div.wizard-pane.carrier div.action-bar,
  div.wizard-pane.payment div.action-bar {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  div.wizard-pane.carrier div.action-bar,
  div.wizard-pane.payment div.action-bar {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*# sourceMappingURL=wizard.css.map */
